/*style général de toute la page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style corps de page body */
body {}

/*style titres*/
h1 {}

/*style lien*/
a {}


/*style en-tete et pied de page*/
header {}

footer {}